CLIENT_TOKEN=replace-with-a-random-client-token
WORKER_TOKEN=replace-with-a-random-worker-token
MASTER_PORT=8000
PROMETHEUS_PORT=9090
RUST_WORKER_CONCURRENCY=4
LUNARIS_DEFAULT_MAX_FUEL=1000000
LUNARIS_DEFAULT_MAX_MEMORY_BYTES=67108864
LUNARIS_DEFAULT_MAX_MODULE_BYTES=1048576
LUNARIS_MAX_FUEL=10000000
LUNARIS_MAX_MEMORY_BYTES=536870912
LUNARIS_MAX_MODULE_BYTES=4194304

